<!--h1>Spiderman</h1-->
<h1>{{ name }}</h1>

<dl>
    <td>Nombre:</td>
    <!--dd>nombre</dd-->
    <dd>{{ name }}</dd>

    <td>Edad:</td>
    <!--dd> edad </dd-->
    <dd>{{ age }}</dd>

    <td>Método:</td>
    <!--dd> algún método </dd-->
    <dd>{{ getHeroDescription() }}</dd>

    <td>Capitalizado:</td>
    <!--dd> nombre capitalizado </dd-->
    <dd>{{ capitalizedName }}</dd>

    <button
    *ngIf="name !== 'Spiderman'"
    (click)="changeName()" 
    class="btn btn-primary mx-2">Cambiar Nombre</button>
    
    <button 
    *ngIf="age !== 25"
    (click)="changeAge()" 
    class="btn btn-primary">Cambiar Edad</button>

    <button 
    (click)="resetForm()" 
    class="btn btn-primary mx-2">Reset</button>
</dl>
